<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.samples.apps.friendlyping">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <permission
        android:name="com.google.samples.apps.friendlyping.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.FriendlyPingActivity">
            <!-- [START register_for_notification_clicks] -->
            <intent-filter>
                <!-- [BEGIN_EXCLUDE] -->
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <!-- [END_EXCLUDE] -->
                <!-- Register for clicks on Notifications from GCM. -->
                <action android:name="ping_received"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <!-- [END register_for_notification_clicks] -->
            </intent-filter>
        </activity>

        <!-- START gcm -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.google.samples.apps.friendlyping"/>
            </intent-filter>
            <!-- For backward compatibility with devices without play services -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.google.samples.apps.friendlyping"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false">
        </service>
        <!-- END gcm -->

        <!-- START ads -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent"/>
        <!-- END ads -->

    </application>

</manifest>